@import "tailwindcss";

@layer utilities {
  .logo-sub {
    font-size: clamp(10px, 1.02vw, 12px);
    line-height: 1;
  }

  .logo-main {
    font-size: clamp(15px, 1.88vw, 21px);
    line-height: 1;
  }
}

@layer base {

  /* スマホでは余白なし */
  :root {
    --header-height: clamp(85px, 12vw, 120px);
    --footer-height: clamp(60px, 10vw, 70px);
    --side-gap: 0px;
  }
    html,
    body {
  
      background-color: #ffffff;
  
    }

  /* md以上で出す */
  @media (min-width: 768px) {
    :root {
      --side-gap: clamp(0px, calc((100vw - 768px) * 0.1), 80px);
    }
  }

        .content-wrapper::before,
        .content-wrapper::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          width: var(--side-gap);
          pointer-events: none;
          z-index: 10;
          background: #ffffff;
        }
        .content-wrapper::before {left: 0;}
        .content-wrapper::after {right: 0;}
}